@value indigo,indigo-accent,red,red-accent,green,black,white from '../../styles/_colors.module.css';

.item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
}

.text {
    margin-right: 12px;
}

.btn {
    composes: buttons from '../../styles/_extensions.module.css';

    margin-left: auto;
    border-radius: 4px;
    padding: 12px 24px;
    background-color: indigo;
    color: white;
    font-weight: 500;
}

.btn:hover,
.btn:focus {
    background-color: indigo-accent;
}

.btn:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
