.list {
  composes: lists from '../../styles/_extensions.module.css';

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;
}

